<div class="container mt-4">
    <h1 class="display-4 text-center">
        <i class="fas fa-book-open"></i><span class="text-primary">My Book  </span>List
    </h1>
</div>
<notifier-container></notifier-container>
<div class="container mt-4">
    <form [formGroup]="bookDetails" (ngSubmit)="getBooks(bookDetails.value)">
        <div class="form-group">
            <label for="book"><b>Book Title :</b></label>
            <input type="text" class="form-control" id="book" placeholder="Title" formControlName="bookTitle">
        </div>
        <div class="form-group">
            <label for="author"><b>Book Author :</b></label>
            <input type="text" class="form-control" id="author" placeholder="Author" formControlName="bookAuthor">
        </div>
        <div class="form-group">
            <label for="isbn"><b>Book ID :</b></label>
            <input type="number" class="form-control" id="isbn" placeholder="ISBN Number" formControlName="bookISBN">
        </div>
        <button type="submit" class="btn btn-outline-primary">Add</button>
    </form>
</div><br>
<div class="container mt-4">

    <input class="form-control" type="text" aria-label="Search" ([ngModel])="searchBook" placeholder="Search">

</div>
<br>
<div class="container mt-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">ISBN Number</th>
            </tr>
        </thead>
        <tbody id="BookList" *ngFor="let Book of StoredBooks | orderBy: key : reverse | filter: searchBook">
            <tr>
                <td>{{Book.title}}</td>
                <td>{{Book.author}}</td>
                <td>{{Book.id}}</td>
                <td>
                    <button type="submit" class="btn btn-outline-primary" (click)="openDialog(Book.id, Book.title)">Edit</button></td>
                <td><button type=" submit " class="btn btn-outline-danger" (click)="removeBook(Book)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>