<div class="container mt-4">
    <h1 class="display-4 text-center">
        <i class="fas fa-book-open"></i><span class="text-primary">My Book  </span>List
    </h1>
</div>
<div class="container mt-4">
    <form>
        <div class="form-group">
            <label for="book"><b>Book Title :</b></label>
            <input type="text" class="form-control" id="book" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="author"><b>Book Author :</b></label>
            <input type="text" class="form-control" id="author" placeholder="Author">
        </div>
        <div class="form-group">
            <label for="isbn"><b>Book ID :</b></label>
            <input type="text" class="form-control" id="isbn" placeholder="ISBN Number">

        </div>

        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>