<div class="container mt-4">
    <h1 class="display-4 text-center">
        <i class="fas fa-book-open"></i><span class="text-primary">My Book  </span>List
    </h1>
</div>
<div class="container mt-4">
    <form>
        <div class="form-group">
            <label for="book"><b>Book Title :</b></label>
            <input type="text" class="form-control" id="book" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="author"><b>Book Author :</b></label>
            <input type="text" class="form-control" id="author" placeholder="Author">
        </div>
        <div class="form-group">
            <label for="isbn"><b>Book ID :</b></label>
            <input type="text" class="form-control" id="isbn" placeholder="ISBN Number">

        </div>
        <button type="submit" class="btn btn-outline-primary">Add</button>
    </form>
</div><br>
<div class="container mt-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">ISBN Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Book 1</td>
                <td>Author 1</td>
                <td>13456789</td>
                <td><button type="submit" class="btn btn-outline-primary">Remove</button></td>
            </tr>

        </tbody>
    </table>

</div>